body {
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* PORTADA PRINCIPAL */

.hero {
    min-height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ), url("Imagenes/portada.png");

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}


/* LOGO CENTRAL */

.hero-logo {
    width: 220px;
    height: auto;
    margin-bottom: 20px;
}


/* TITULO PRINCIPAL */

.hero h2 {
    font-size: 42px;
    color: white;
    margin: 10px 0;
    line-height: 1.2;
}


/* DESCRIPCION */

.hero p {
    font-size: 22px;
    color: #e6e6e6;
    margin: 15px 0 25px;
}


/* BOTON */

.hero button {
    width: 280px;
    height: 70px;

    background-color: #d4af37;
    color: #0b0b0b;

    border: none;
    border-radius: 40px;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;
}


/* EFECTO BOTON */

.hero button:hover {
    transform: scale(1.05);
}